@charset "utf-8";
/* CSS Document */

#login1{
    width:35%;
    height:auto;
    margin: -10px auto;
    background-image: linear-gradient(to bottom,#696969, #A8A8A8 );
    position:relative;
    padding:10px;
    top:30px;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 0.0em 0em 3em #333;
    box-shadow: inset 0 4px 5px 0 rgba(255,255,255,.3), inset 0 -6px 12px 0 rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.2);

}

#topo-log{
    width:100%;
    height: 120px;
    background: #838B8B;
    padding-bottom: 10px;
    box-shadow: 0px 0px 18px #333;
    background-image: linear-gradient(to bottom,#696969, #A8A8A8 );
    box-shadow: inset 0 4px 5px 0 rgba(255,255,255,.3), inset 0 -6px 12px 0 rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.2);
}

#login-um{
    width: 100%;
    height:auto;
    font-weight:bold;
    margin:auto;
    top:0;
    text-align:left;    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color:#333;  
    border-radius: 4px;
    -moz-border-radius:4px;
    
}

#log{
    margin: auto;
    width: 70%;
    position: relative;
    top: 20px;
    font-size: 17px;
    color: #FFF;
    font-weight: normal;
    margin-top: 0;
    font-family:  "Lucida Sans Unucode", verdana, arial;
    
}

.titulo_cen{
    padding-left: 15px;
    font-weight: bold;
    position: relative;
    top: 30px;
    color: #666;
    font-size: 22px;
    text-align: justify;
}

#login-dois{
    width: 100%;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    font-family:  "Lucida Sans Unucode" , verdana, Arial;
    text-shadow: 0px 0px 10px #333;
    

}

#cabecalho{
    width: 90%;
    margin: auto;
    text-align: left;
    height: auto;
    padding: 15px;
    margin-left: 20px;
    font-size: 5em;
    color: #CCC;
    font-weight: bold;
    font-family: 'Century Gothic', Arial, Verdana;
    text-shadow: 0px 0px 15px #333; /* sombreamento do texto */
}

#img-om{
    float: right;
    font-size: 14px;
    
}

.header{
    font-size: 16px;
}

#span_cabecalho{
    font-size: 20px;
    font-weight: normal;
    color: #ccc;
}

a{
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#0000FF;
}

a:hover{
    text-decoration:none;
    color:#191970;
}

#info{
    width: 36%;
    height: auto;
    margin-top: 20px;
    margin-left: 100px;
    float: left;
    font-family: "Lucida Fax", Arial, Verdana;
    font-size: 23px;
    color: #666;   
    text-align: left;
}

#imagem_login{
    width: auto;
    height: auto;
    position: relative;
    top: 20px;
    text-align: center;

}

#erro-login{
    font-family: "Lucuda Fax", Arial, Verdana;
    font-size: 14px;
    color: green;
    width: auto;
    height: auto;
    text-align: center;
    padding: 4px;
    background: #E6E6FA;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;

}

#erro-login2{
    font-family: "Lucuda Fax", Arial, Verdana;
    font-size: 14px;
    color: #c00;
    width: auto;
    height: auto;
    text-align: center;
    padding: 4px;
    
    text-shadow: 0px 0px 4px #999;
}