<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />

        <title>Avisos Seção de Informática</title>
    </head>

    <body>
        <div id="floater" class="modal" style="margin: auto; font-family: Lucida, Arial;">
            <div style="text-align: center; font-size: 22px; font-weight: bold;">Seção de Informatica</div>
            <div class="body-modal"><br>
                <div style="text-align:center; font-size:24px;"><strong>MODIFICAÇÕES DO RUE</strong></div>
                <div style="padding: 8px; font-size:16px; color: red; text-align: center; text-align: justify;">
                    A Portaria do Comandante do Exército, alterou, revogou e incluiu dispositivos no Regulamento de Uniformes do Exército(R-124), aprovado pela Port Min nº806, de 17 DEZ 1998. Segue o regulamento abaixo:<br />
                    <a href="phocadownload/Modificacoes_do_RUE.pdf" style="font-size:25px; text-align:center; color:blue;" target="_blank" title="Modificações RUE"><center> Modificações do RUE </center></a>
                </div><br />
                <div style="text-align: center; font-size: 22px; font-weight: bold;">Suporte de informática</div>
                <div style="padding: 8px; font-size:16px; color: red; text-align: center; text-align: justify;">
                    Para melhor atendimento ao usuário de TI desta OM, informamos que todo e qualquer suporte técnico em telemática, seja feito um chamado no sistema de atendimento (<a href="http://suporte.25bc.eb.mil.br" target="_blank">SuporTI</a>).
                    Informo-vos que aquele que não realizar o chamado para o devido suporte, poderá ter sua solicitação (via ramal ou verbal) comprometida, pois daremos prioridade aos chamados realizado pelo sistema. Caso não lembre ou não tenha a senha para acesso deste entre em contato com esta seção.<br /><br />
                    <div style="font-size: 13px; text-align: center">Acesse o sistema através do menu Sistemas >> SuporTI (Atendiento ao Usuário).</div>
                    
                </div>
            </div>
        </div>
    </body>
</html>